.bg-danger10 {
    background-color: #4caf50 !important;
}
.bg-danger20 {
    background-color: #009688 !important;
}
.bg-danger30 {
    background-color: #00bcd4 !important;
}
.bg-danger40 {
    background-color: #03a9f4 !important;
}
.bg-danger50 {
    background-color: #2196f3 !important;
}
.bg-danger60 {
    background-color: #3f51b5 !important;
}
.bg-danger70 {
    background-color: #673ab7 !important;
}
.bg-danger80 {
    background-color: #9c27b0 !important;
}
.bg-danger90 {
    background-color: #e91e63 !important;
}
.bg-danger100 {
    background-color: #f44336 !important;
}
.nav-tabs {
    background-color: #dee2e6;
    border-radius: 5px;
}
.nav-link {
    color: black !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-color: #dee2e6;
    border-radius: 5px;
    color: #0d6efd !important;
    font-weight: 700;
}
