.la-so {
    position: relative;
    .laso-title {
        font-size: 2.1rem;
        font-weight: 700;
        text-align: center;
        margin: 8px 0;
    }

    .form-data {
        margin: 0 15px;

        /* form starting stylings ------------------------------- */
        .group {
            position: relative;
            margin-bottom: 16px;

            input {
                font-size: 18px;
                padding: 10px 10px 12px 5px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid #757575;
            }

            input:focus {
                outline: none;
            }

            /* LABEL ======================================= */
            label {
                color: var(--primary-01);
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 11px;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            /* active state */
            input:focus ~ label,
            input:valid ~ label {
                top: -20px;
                font-size: 14px;
                color: var(--primary-01);
            }

            /* BOTTOM BARS ================================= */
            .bar {
                position: relative;
                display: block;
                width: 100%;
            }

            .bar:before,
            .bar:after {
                content: "";
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: var(--primary-01);
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }

            .bar:before {
                left: 50%;
            }

            .bar:after {
                right: 50%;
            }

            /* active state */
            input:focus ~ .bar:before,
            input:focus ~ .bar:after {
                width: 50%;
            }

            /* HIGHLIGHTER ================================== */
            .highlight {
                position: absolute;
                height: 60%;
                width: 100px;
                top: 25%;
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }

            /* active state */
            input:focus ~ .highlight {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }

            /* ANIMATIONS ================ */
            @-webkit-keyframes inputHighlighter {
                from {
                    background: var(--primary-01);
                }

                to {
                    width: 0;
                    background: transparent;
                }
            }

            @-moz-keyframes inputHighlighter {
                from {
                    background: var(--primary-01);
                }

                to {
                    width: 0;
                    background: transparent;
                }
            }

            @keyframes inputHighlighter {
                from {
                    background: var(--primary-01);
                }

                to {
                    width: 0;
                    background: transparent;
                }
            }
        }

        .radio {
            margin-bottom: 16px;

            h4 {
                color: var(--text-01);
                margin-bottom: 12px;
            }

            .radio-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 20px;

                .form-check-input:checked {
                    background-color: var(--primary-01);
                    border-color: var(--primary-01);
                }
            }
            .check-custom {
                gap: 16px;
            }
        }
    }
}

.backgound {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -5;

    // height: 100vh;
    .backgound-logo {
        width: 100%;
    }
}
